* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 14px;
  font-family: "Raleway", sans-serif;
  height: 100vh;
  color: #dddbff;
  background-image: url(../images/bg-mobile.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}

@media (min-width: 1024px) {
  body {
    background-image: none;
    background-color: #0c122c;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (min-width: 1024px) {
  body::before {
    content: "";
    position: absolute;
    background-image: url(../images/bg-desktop.svg);
    width: 100%;
    height: 51%;
    bottom: 0;
    background-repeat: no-repeat;
    background-position: right bottom;
    border-radius: 180px 0 0 0;
    z-index: -1;
  }
}

.container {
  height: 100%;
  max-width: 300px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 1024px) {
  .container {
    height: 200px;
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    max-width: 1024px;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.brand {
  height: 200px;
  background-color: #1d2c67;
  padding: 30px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  border-radius: 10px 80px 10px 10px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (min-width: 1024px) {
  .brand {
    width: 350px;
  }
}

.brand .imgs {
  width: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.brand .imgs .icon {
  height: 50px;
  width: 50px;
  background-color: #0c122c;
  border-radius: 10px;
  background-repeat: no-repeat;
  background-position: center;
}

.brand .imgs .icon:nth-child(1) {
  background-image: url(../images/icon-document.svg);
}

.brand .imgs .icon:nth-child(2) {
  background-image: url(../images/icon-folder.svg);
}

.brand .imgs .icon:nth-child(3) {
  background-image: url(../images/icon-upload.svg);
}

.storage {
  height: 150px;
  width: 100%;
  background-color: #1d2c67;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-top: 20px;
  position: relative;
}

@media (min-width: 1024px) {
  .storage {
    width: 550px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.storage .title:nth-child(1) {
  margin-top: 25px;
}

.storage .title:nth-child(1) span {
  font-weight: 700;
}

@media (min-width: 1024px) {
  .storage .title:nth-child(1) {
    -ms-flex-item-align: start;
        align-self: flex-start;
    margin-left: 37px;
    margin-top: 40px;
  }
}

.storage .gb {
  width: 250px;
  margin-top: 10px;
  font-weight: 700;
  font-size: 12px;
}

@media (min-width: 1024px) {
  .storage .gb {
    width: 480px;
  }
}

.storage .gb span {
  float: right;
}

.storage .progress {
  margin-top: 20px;
  height: 20px;
  width: 250px;
  background-color: #0c122c;
  border-radius: 10px;
}

@media (min-width: 1024px) {
  .storage .progress {
    width: 480px;
  }
}

.storage .progress::before {
  content: "";
  position: absolute;
  height: 16px;
  width: 180px;
  margin-top: 2px;
  border-radius: 10px;
  margin-left: 5px;
  background-image: -webkit-gradient(linear, left top, right top, from(#ffa399), to(#ff4d97));
  background-image: linear-gradient(to right, #ffa399, #ff4d97);
}

@media (min-width: 1024px) {
  .storage .progress::before {
    width: 380px;
  }
}

.storage .progress::after {
  content: "";
  position: absolute;
  background-color: white;
  height: 10px;
  width: 10px;
  margin-top: 5px;
  border-radius: 10px;
  margin-left: 170px;
}

@media (min-width: 1024px) {
  .storage .progress::after {
    margin-left: 370px;
  }
}

@media (min-width: 1024px) {
  .storage .info::after {
    content: "";
    position: absolute;
    top: 50px;
    right: 0;
    background-color: #fff;
    width: 30px;
    height: 30px;
    -webkit-clip-path: polygon(100% 0, 0 0, 100% 100%);
            clip-path: polygon(100% 0, 0 0, 100% 100%);
  }
}

.storage .info {
  position: absolute;
  bottom: -25px;
  height: 60px;
  width: 160px;
  background-color: white;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 1024px) {
  .storage .info {
    bottom: 125px;
    right: 25px;
  }
}

.storage .info p {
  color: #0c122c;
  font-size: 28px;
  font-weight: 700;
}

.storage .info p span {
  color: #848794;
  font-size: 12px;
  text-transform: uppercase;
}
/*# sourceMappingURL=app.css.map */